{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="jumbotron">
        <h1 class="display-3">1,2,3 On Y Va!!!</h1>
        <p class="lead">La nouvelle application de covoiturage.</p>
        <hr class="my-4">
        <p>Rejoignez notre communauté pour proposer ou réserver des voyages.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('rechercher_voyage') }}" role="button">Rechercher Voyage</a>
        </p>
    </div>
    <h1></h1>

    
{% endblock %}